<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
    <font color="red">errror retry again</font>
    <form method="POST">
      {% csrf_token %}
       firstname:<br><input name="fname">
       <br>
       lastname:<br><input name="lname">
       <br>
       mobilenumber<br><input name="mobielnum">
       <br>
       mail:<br><input name="mail">
       <br>
       address:<br><input name="addrs">
       <br>
       password:<br><input name="pswrd">
       <br>
       conformpassword;<br><input name="cnfrm_pswrd">
       <br>
      <button value="submit">submit </button>
      </form>
      </div>
      </div>
  </body>
</html>
